In [1]:
# analyse the data according to the question.

# 1. try to get atleast 6 the sample of this data.

# 2. find top 10 cars having highest selling price.

# 3. find bottom 1 cars having lowest selling price.

# 4. which owner owns 'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV' .

# 5. according to selling price of top 10 car tell the transmission of the car.

# 6. tell me the year of the car in which transmission is manual.

In [6]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Downloads\CAR DETAILS FROM CAR DEKHO.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti Omni CNG,2007,45000,100000,CNG,Individual,Manual,Fourth & Above Owner
1,Maruti Alto Green LXi (CNG),2010,88000,80251,CNG,Dealer,Manual,Second Owner
2,Hyundai Santro Xing GL PLUS CNG,2007,90000,80000,CNG,Individual,Manual,Third Owner
3,Maruti Zen Estilo LXI Green (CNG),2010,110000,80000,CNG,Individual,Manual,Fourth & Above Owner
4,Hyundai Santro Xing GLS CNG,2010,130000,98000,CNG,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Audi A4 30 TFSI Technology,2018,3100000,22000,Petrol,Individual,Automatic,First Owner
4336,Land Rover Discovery S 2.0 SD4,2018,4000000,68000,Petrol,Individual,Automatic,First Owner
4337,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
4338,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
4339,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner

In [ ]:
df.columns

In [ ]:
df[df['fuel']=='Diesel'][['name','year','fuel']]

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.sample(10)

In [ ]:
# 2. find top 10 cars having highest selling price.
df[['selling_price','name']]

In [ ]:
df['selling_price'].max()

In [ ]:
highest_price = df['selling_price'].max()
highest_price

In [ ]:
df[df['selling_price']==df['selling_price'].max()][['name','selling_price']]

In [ ]:
# 3. find bottom 1 cars having lowest selling price.

df[df['selling_price']==df['selling_price'].min()][['name','selling_price','owner']]

In [ ]:
# 4. which owner owns 'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV' .

df[df['name']=='Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV'][['owner','selling_price','name']]

In [ ]:
# 5. according to selling price of top 10 car tell the transmission of the car.
df[df['selling_price']==df['selling_price'].max()][['name','transmission']]

In [ ]:
# 6. tell me the year of the car in which transmission is manual.
df[df['transmission']=='Manual'][['name','year','transmission']]

In [ ]:
df.columns

In [ ]:
df[(df['transmission']=='Manual')& (df['fuel']=='Diesel')][['name','year','transmission','fuel']]

In [ ]:
df.shape[0]

In [ ]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Downloads\Indian Startup.csv')
df

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.shape[]