In [4]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Downloads\Indian Startup.csv')
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000.00,Series B,Dec-21,NaN,NaN,NaN
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,40000000.00,NaN,Dec-21,NaN,NaN,NaN
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000.00,Series B,Dec-21,NaN,NaN,NaN
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,50000000.00,NaN,Dec-21,NaN,NaN,NaN
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000.00,Series A,Dec-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000.00,Pre-series A1,Jan-21,NaN,NaN,NaN
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,500000.00,NaN,Jan-21,NaN,NaN,NaN
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital",70000000.00,NaN,Jan-21,NaN,NaN,NaN
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000.00,Pre-seed,Jan-21,NaN,NaN,NaN
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000.00,Pre-series A,Jan-21,NaN,NaN,NaN

In [5]:
df['Founded'].mean()  #Mean absolute data nhi dega

2016.6556291390727

In [6]:
df['Founded'].median() #median absolute data deta hai

2018.0

In [7]:
df['Founded'].mode()

0    2020.0
Name: Founded, dtype: float64

In [8]:
#fillna------------>They are use for fill the empty data
df.fillna(value = 'hello',inplace = True)

In [9]:
df.isnull().sum()

Company/Brand    0
Founded          0
Headquarters     0
Sector           0
What it does     0
Founder/s        0
Investor/s       0
Amount           0
Stage            0
Date             0
Unnamed: 10      0
Unnamed: 11      0
Unnamed: 12      0
dtype: int64

In [10]:
df = pd.read_csv(r'C:\Users\hp\Downloads\Indian Startup.csv')
df

,Company/Brand,Founded,Headquarters,Sector,What it does,Founder/s,Investor/s,Amount,Stage,Date,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CollegeDekho,2015.0,Gurgaon,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Disrupt ADQ, QIC",35000000.00,Series B,Dec-21,NaN,NaN,NaN
1,BOX8,2012.0,Mumbai,Food & Beverages,India's Largest Desi Meals Brand,"Anshul Gupta, Amit Raj",Tiger Global,40000000.00,NaN,Dec-21,NaN,NaN,NaN
2,Simpl,2015.0,Bangalore,Consumer Services,Simpl empowers merchants to build trusted rela...,"Nitya, Chaitra Chidanand","Valar Ventures, IA Ventures",40000000.00,Series B,Dec-21,NaN,NaN,NaN
3,8i Ventures,2018.0,Mumbai,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Vikram Chachra,NaN,50000000.00,NaN,Dec-21,NaN,NaN,NaN
4,PayGlocal,2021.0,Bangalore,Financial Services,PayGlocal is a FinTech solving for global paym...,"Prachi Dharani, Rohit Sukhija, Yogesh Lokhande",Sequoia Capital India,4900000.00,Series A,Dec-21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,HobSpace,2019.0,Mumbai,EdTech,HobSpace is a platform for extra-curricular ac...,"Priya Goel Sheth, Harsh Jain","Siddharth Bhaskar Shah, Upsparks",100000.00,Pre-series A1,Jan-21,NaN,NaN,NaN
1205,DcodeAI,2020.0,New Delhi,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,"Kartik Sharma, Ashish Aggarwal",S Chand,500000.00,NaN,Jan-21,NaN,NaN,NaN
1206,Biocon Biologics,1978.0,Bangalore,BioTechnology,Biocon is a fully integrated pure play biosimi...,Kiran Mazumdar-Shaw,"Goldman Sachs, Tata Capital",70000000.00,NaN,Jan-21,NaN,NaN,NaN
1207,KiranaKart,2020.0,Mumbai,E-commerce,A better model for instant grocery delivery in...,"Kaivalya Vohra, Aadit Palicha",Global Founders Capital,720000.00,Pre-seed,Jan-21,NaN,NaN,NaN
1208,Meddo,2018.0,Gurgaon,Healthcare,Meddo is an end-to-end medical services provider,Saurabh Kochhar,"growX ventures, Venture Gurukool",3000000.00,Pre-series A,Jan-21,NaN,NaN,NaN

In [11]:
df['Founded'].fillna('a',inplace = True)

In [12]:
df.isnull().sum()  #founded me ohle ek empty vale thi alein uss null value ki jagah ab a aagya

Company/Brand       0
Founded             0
Headquarters        1
Sector              0
What it does        0
Founder/s           4
Investor/s         63
Amount              7
Stage             428
Date                0
Unnamed: 10      1209
Unnamed: 11      1209
Unnamed: 12      1209
dtype: int64

In [13]:
# mean , mode, median

In [14]:
mean_found = df['Founded'].mean()
mean_found

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
median_found = df['Founded'].median()
median_found

In [ ]:
df['Founded'].isnull().sum()

In [ ]:
# Founded me ek null value hai ab iss null value ko hume fill karna hai with the help of mean mode and median

In [ ]:
df['Founded'].fillna(median_found,inplace = True)# isme humne median use isliye kiya kyuki median absolute data deta hain 
#kaha mode use karna hai kaha meean use karna hai ye khud sochna padega mode categorical data me use hota hai, mean
# median numerical value par use hote hai

In [ ]:
df['Founded'].isnull().sum()

In [ ]:
df['Headquarters'].isnull().sum()

In [ ]:
mode_headquar = df['Headquarters'].mode()

In [ ]:
mode_headquar

In [ ]:
df['Headquarters'].fillna(mode_headquar,inplace = True)

In [ ]:
df['Headquarters'].isnull().sum()

In [ ]:
# delete the column
# dropna  jis bhi column me null values hongi usko delete kar dega

In [15]:
df['Sector'].dropna

<bound method Series.dropna of 0                             E-learning
1                       Food & Beverages
2                      Consumer Services
3       Venture Capital & Private Equity
4                     Financial Services
                      ...
1204                              EdTech
1205                              EdTech
1206                       BioTechnology
1207                          E-commerce
1208                          Healthcare
Name: Sector, Length: 1209, dtype: object>

In [16]:
# central tendoncy theorem------> It is nothing but mean mode median is used for handling missing values
# mean mode median ko hi central tendoncy theorem kehte hai.......

In [17]:
df['Stage'].isnull().sum()

428

In [18]:
mode_stage = df['Stage'].mode()
mode_stage

0    Seed
Name: Stage, dtype: object

In [19]:
df['Stage'].fillna(mode_stage,inplace = True)

In [20]:
df['Stage']

0            Series B
1                 NaN
2            Series B
3                 NaN
4            Series A
            ...
1204    Pre-series A1
1205              NaN
1206              NaN
1207         Pre-seed
1208     Pre-series A
Name: Stage, Length: 1209, dtype: object

In [21]:
#jab bhi hum mode ke saath use karenge null value ko fill karne ke liye toh hum index value ke saath kaam karenge

# jab humne Stage ka mode nikaala to seed aaya uska index 0 par hai

In [22]:
df['Stage'].fillna(mode_stage[0],inplace = True)

In [23]:
df['Stage']

0            Series B
1                Seed
2            Series B
3                Seed
4            Series A
            ...
1204    Pre-series A1
1205             Seed
1206             Seed
1207         Pre-seed
1208     Pre-series A
Name: Stage, Length: 1209, dtype: object

In [24]:
df['Stage'].isnull().sum()

0

In [25]:
#dropna 
#agar hmaare pass 10 hazaar rows hai ek column ke andar or usme bhot saari null values hai toh hum dropna ka use karenge 
# axis 1 ke saath

In [26]:
df.dropna(axis=1)

,Company/Brand,Founded,Sector,What it does,Stage,Date
0,CollegeDekho,2015.0,E-learning,"Collegedekho.com is Student’s Partner, Friend ...",Series B,Dec-21
1,BOX8,2012.0,Food & Beverages,India's Largest Desi Meals Brand,Seed,Dec-21
2,Simpl,2015.0,Consumer Services,Simpl empowers merchants to build trusted rela...,Series B,Dec-21
3,8i Ventures,2018.0,Venture Capital & Private Equity,8i is a Mumbai & Bangalore based early stage f...,Seed,Dec-21
4,PayGlocal,2021.0,Financial Services,PayGlocal is a FinTech solving for global paym...,Series A,Dec-21
...,...,...,...,...,...,...
1204,HobSpace,2019.0,EdTech,HobSpace is a platform for extra-curricular ac...,Pre-series A1,Jan-21
1205,DcodeAI,2020.0,EdTech,EMPOWER LEARNERS TO BE FUTURE READY USING AI,Seed,Jan-21
1206,Biocon Biologics,1978.0,BioTechnology,Biocon is a fully integrated pure play biosimi...,Seed,Jan-21
1207,KiranaKart,2020.0,E-commerce,A better model for instant grocery delivery in...,Pre-seed,Jan-21
1208,Meddo,2018.0,Healthcare,Meddo is an end-to-end medical services provider,Pre-series A,Jan-21

In [27]:
df['Amount'].dropna(axis = 0)  # yaha par humne ek column ko pakda or uss column par kaam kar rhe hai toh 
# vo column series me aajayega or us ke liye axis zero ka use karenge

0       35000000.00
1       40000000.00
2       40000000.00
3       50000000.00
4        4900000.00
           ...
1204      100000.00
1205      500000.00
1206    70000000.00
1207      720000.00
1208     3000000.00
Name: Amount, Length: 1202, dtype: object

In [28]:
df['Amount'].isnull().sum()

7

In [ ]:
#drp kaam nhi kar rha iss method se  agar hum ek column ko pakad ke kaam kare